{% extends '_base.html' %}
{% load thumbnail %}

{% block content %}
<!-- Header -->
{% include '_header.html' %}
<!-- Portfolio Grid Section -->
<section id="produtos">
    <div class="container">
        <div class="row">
            {% if produtos %}
                {% for produto in produtos %}
                <div class="col-sm-3 col-lg-3 col-md-3">
                    <div class="thumbnail">
                        {{ produto.provedor.imagem|safe }}
                        <div class="caption">
                            <h4 class="pull-right">${{ produto.preco }}</h4>
                            <h5><a href="#">{{ produto }}</a></h5>
                            <ul class="list-group">
                              <li class="list-group-item text-warning">CPU<span class="label label-warning pull-right">{{ produto.cpu }}</span></li>
                              <li class="list-group-item text-info">Memória<span class="label label-info pull-right">{{ produto.memoria.to_gb }}</span></li>
                              <li class="list-group-item text-primary">Disco<span class="label label-primary pull-right">{{ produto.armazenamento }}</span></li>
                            </ul>
                        </div>
                        <div class="caption">
                            <div class="form-group">
                                <label for="idDisco">Sistema</label>
                                <select class="form-control" id="idDisco">
                                    <option>---</option>
                                    {% for sistema in produto.sistemas.all %}
                                    <option value="{{ sistema.id }}">{{ sistema }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <a href="{{ produto.get_api_url }}" class="btn btn-success pull-right">Produto Instance</a>
                        <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <h3>Nenhum produto encontrado</h3>
            {% endif %}
        </div>
    </div>
</section>

<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Informações sobre o projeto</p>
            </div>
            <div class="col-lg-4">
                <p>informações sobre propriedades</p>
            </div>
        </div>
    </div>
</section>
<script>
    app = angular.module 'example.app.static', []

    app.controller 'AppController', ['$scope', '$http', ($scope, $http) ->
        $scope.posts = [
            author:
                username: 'Joe'
            title: 'Sample Post #1'
            body: 'This is the first sample post'
        ,
            author:
                username: 'Karen'
            title: 'Sample Post #2'
            body: 'This is another sample post'
        ]
    ]
</script>
{% endblock %}